.preview {
  height: 250px;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 800px; 
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  position: relative;
}
  
  .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .image {
    float: left;
    margin: 0 15px 5px 0;
    height: 100%;
  }
  
  .description {
    line-height: 1.4;
    text-align: justify;
    overflow: hidden;
  }

  .container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 10px;
  }

  
